.App-header {
  background-color: grey;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: calc(10px + 2vmin);
  color: white;
  vertical-align: top;
}

.job-post {
  background-color: black;
  color: cornsilk;
  margin-top: 10px;
  margin-bottom: 10px;
  width: 30em;
  font-size: 1em;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
}

.job-details {
  display: flex;
  flex-direction: row;
  font-size: small;
  justify-content: space-between;
  margin-top: 5px;
  padding-bottom: 5px;
}

.job-detail {
  margin-left: 3px;
  margin-right: 3px;
  width: 20em;
  background-color: #282c34;
  border-radius: 10px;
  text-align: center;
  vertical-align: middle;
}


.filter-row {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-top: 10px;
}

.job-apply-btn {
  margin-left: 3px;
  margin-right: 3px;
  margin-bottom: 3px;
  break-after: page;
  border-radius: 10px;
  display: block;
  text-align: center;
  font-size: small;
  background-color:forestgreen;
  color: cornsilk;
  text-decoration: none;
}
